{% extends "offview/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
   <div class="row mt-5">
        <div class="col-md-6 mx-auto text-white bg-primary text-center">
          <h2 class=alert alert-info > Email </h2>
          <h3>PcGeeks@gmail.com</h3>
        </div>
   </div>
   <div class="row mt-5">
        <div class="col-md-6 mx-auto bg-warning text-center">
          <h2 class=alert alert-info> Contact No</h2>
          <h3>9988223402</h3>
        </div>
     </div>
</div>
{% endblock %}
